<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- All ConnectionString for our Databases -->
    <add name="SQLServerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestMemberShipDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=TestMemberShipDb;Uid=root;Pwd=root" providerName="MySql.Data.MySqlClient"/>
    <add name="PostGreSQLConnectionString" connectionString="" providerName="Npgsql"/>
    <add name="AccessConnectionString" connectionString="" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>

    <!--<machineKey validation="HMACSHA256" validationKey="AD3642D1C078D34C05741E5A63514C784......." decryptionKey="F18D8F1FA9F986B26B9F0C8CB4067CAC45E25F4BD......" decryption="3DES"/>-->
    
    <!-- Specifie the default provider (In our case is the custom class name that inherit MembershipProvider abstract class) -->
    
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" type="CustomProvider.CustomMembershipProvider, CustomProvider" connectionStringName="SQLServerConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="JosamunaCustomProviderSample" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" description="CustomMembershipProvider as custom provider of MembershipProvider"/>
      </providers>
    </membership>
    
    <!-- Specifie the default provider (In our case is the custom class name that inherit RoleProvider abstract class) -->
    
    <roleManager enabled="true" defaultProvider="CustomRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="CustomProvider.CustomRoleProvider, CustomProvider" applicationName="JosamunaCustomProviderSample" connectionStringName="SQLServerConnectionString"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>