<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- All ConnectionString for our Databases -->
    <add name="SQLServerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestMemberShipDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- Specifie the default provider (In our case is the custom class name that inherit MembershipProvider abstract class) -->

    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SQLServerConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="JosamunaProviderSample" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" description="SqlMembershipProvider as default provider of MembershipProvider"/>
      </providers>
    </membership>

    <!-- Specifie the default provider (In our case is the custom class name that inherit RoleProvider abstract class) -->

    <roleManager enabled="true" defaultProvider="SqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="JosamunaProviderSample" connectionStringName="SQLServerConnectionString"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>